
.box{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    margin: 10px;
    height: 100%;
    .art-image{
        width: 100px;
    
        
    }

}

.link{
    cursor: pointer;
}

