<section>

    <div>
        
    </div>

    <div class="departments-List">
        <div *ngFor="let department of departmentsList">
            <h4>{{department.displayName}}</h4>

            <div class="object-list" >
    
                
            
            <owl-carousel-o [options]="customOptions">
    
                <ng-container *ngFor="let artWork of department.objects; let i=index">
                  <ng-template carouselSlide >
                      <div class="box">
                        <div class="art-image">
                            <img [src]="[artWork?.primaryImageSmall]" [title]="artWork.title">
                          </div>
                       
    
                        <a class="link" (click)="openDetailPopup(artWork)">{{artWork.title}}</a>
                      </div>
                     
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
            </div>
        </div>
        </div>
     

</section>
